/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: #5c87b2;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-top: 1px dotted;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"],
textarea.text-box,
textarea.multi-line
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 300px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

/**********************/

#progress {
    display: none;
}

.details-box {
    border: 1px solid #DDDDDD;
    margin: 0 0 1.5em;
    padding: 0 1.4em 1.4em;
}

.votes-box {
    float: left;
    width: 4em;
}

.notes-box {
    float: right;
    width: auto;
}

.clear-box 
{
    clear: both;
    font-size: 0;
}














































/*

body
{
    background: #EEE;
    font-size: 14px;
    font-family: "Arial" , "Helvetica" , "Verdana" , "Sans-Serif";
    margin: 0;
    color: #000;
}

a
{
    color: #034af3;
    text-decoration: none;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: underline;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin: 20px 0 0;
    line-height: 1.3em;
}

img
{
    float: left;
    padding: 0px 20px 20px 0;
}

div.image
{
    float: left;
    padding: 0px 0px 20px 15px;
}

/* HEADINGS   
----------------------------------------------------------
h1, h2, h3, h4, h5, h6
{
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 200%;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    margin: 0;
    padding: 0;
}
h3
{
    font-size: 120%;
}
h4
{
    font-size: 110%;
}
h5, h6
{
    font-size: 100%;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns *//*
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

 PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------

.page
{
    padding: 0 20px;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    padding: 0;
    height: 120px;
}

#header h1
{
    font-weight: bold;
    padding: 10px;
    margin: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
    padding: 10px;
    margin: 20px 0;
}

#content-wrapper
{
    padding: 30px 30px 15px 30px;
    margin-bottom: 30px;
    -moz-border-radius-topright: 0px;
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

 LOGIN
----------------------------------------------------------
#login-wrapper
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    position: relative;
    top: -8px;
}

#login-wrapper #login-caption
{
    position: relative;
    top: 5px;
    margin: 10px;
}

#login-wrapper a
{
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    background-color: #DDDDDD;
    border: 1px solid #999999;
    color: #333;
    font-weight: bold;
    line-height: 2.8em;
    padding: 5px 10px;
    text-decoration: none;
}

#login-wrapper a:hover
{
    color: #D8000C;
    border-color: #D8000C;
    background-color: #FFBABA;
    text-decoration: none;
}

#login-wrapper a:active
{
    text-decoration: none;
}

 TAB MENU   
----------------------------------------------------------

#menucontainer
{
    position: relative;
    top: 39px;
}

ul#menu
{
    padding: 0;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #DDD;
    color: #000000;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border: solid 1px #999;
    outline: none;
}

ul#menu li a:hover
{
    border-bottom: medium none;
    padding: 10px 20px 11px;
    background-color: #FFF;
    text-decoration: none;
}

ul#menu li #selected
{
    border-bottom: medium none;
    padding: 15px 20px 11px;
    background-color: #FFF;
    text-decoration: none;
}

ul#menu li a:active
{
    text-decoration: none;
}

 FORM LAYOUT ELEMENTS   
----------------------------------------------------------

p.boxed
{
    border: solid 1px #999999;
    background-color: #FEFEFE;
    padding: 20px;
}

a.button
{
    outline: none;
    text-decoration: none;
    background-color: #EEE;
    color: #000000;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    border: solid 1px #999;
    padding: 5px 10px;
    margin-right: 20px;
}

a.button:hover
{
    border-color: #333;
    background-color: #DDD;
    text-decoration: none;
}

a.delete:hover
{
    color: #D8000C;
    border-color: #D8000C;
    background-color: #FFBABA;
    text-decoration: none;
}

a.button:active
{
    text-decoration: none;
}

fieldset
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"], input[type="password"], textarea
{
    width: 300px;
    border: 1px solid #999;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
}

input[type="submit"]
{
    border: 1px solid #999;
    background-color: #EEE;
    padding: 5px 10px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
}

input[type="text"].cell
{
    width: 50px;
}

input[type="submit"].cell
{
    border: 1px solid #999;
    background-color: #EEE;
    padding: 0px 0px;
}

 TABLE
----------------------------------------------------------

table
{
    border-collapse: collapse;
}

table td
{
    padding: 5px;
    border: solid 1px #999999;
}

table td.error
{
    padding: 5px;
    color: Red;
    border: solid 1px Red;
}

table th
{
    padding: 6px 5px;
    text-align: left;
    background-color: #EEE;
    border: solid 1px #999999;
}

 MISC  
----------------------------------------------------------
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

.corner-all
{
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}

.boxed
{
    border: solid 1px #999999;
    background-color: #FEFEFE;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

 StatusMessages
----------------------------------------------------------

.success, .error
{
    border: 1px solid;
    margin: 20px 0px;
    padding: 15px 20px;
}

.success
{
    background-color: #E7F1F9;
    border: 1px solid #4C96D4;
    color: #4C96D4;
}

.error
{
    color: #D8000C;
    border: 1px solid #D8000C;
    background-color: #FFBABA;
}
*/