@{
    ViewBag.Title = "Домашняя";
}
<div class="hero-unit">
    <h1>
        Добро пожаловать в чат</h1>
    <p>
        После регистрации, вы сможете общаться в любой комнате</p>
    <p>
        @Html.ActionLink("Зарегистрироваться", "Index", "Room", new { @class = "btn btn-primary btn-large" })
        
    </p>
</div>
