@model SignalR.Chat.Models.User

@{
    ViewBag.Title = "Старт";
}

<h2>Спасибо, что зарегистрировались на нашем сервисе</h2>

<p>
Далее, вы можете @Html.ActionLink("зарегистрировать новый сайт", "Create", "Site"), чтобы начать получать отзывы пользователей.
</p>
@*


@if (Model.Count() == 0)
{
    <p>
    Пока сайтов нет, @Html.ActionLink("создайте новый", "Create", "Site")<text>!</text>
    </p>
}*@